# Python
__pycache__/
*.pyc
*.pyo
venv/
.env
tmp_uploads/
results-edc-binary/
build/
classifier-cr/
classifier-edc/
data.csv
cr_data.csv
test.json
test2.json
image_data/
classifier-image-edc/
verifySlip(not_use)/

# MacOS
.DS_Store

# Windows
Thumbs.db
